.about-page {
    .side-image--img {
        background: url(../assets/avatar.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        height: 615px;
    }
    /* CSS talk bubble */
    .talk-bubble {
        margin-bottom: 25px;
        display: inline-block;
        position: relative;
        width: 85%;
        height: auto;
        background-color: $primary-color;
        color: #fff;

        @media screen and (min-width: #{$md}) {
            margin-left: 10%;
        }

        @media screen and (min-width: #{$lg}) {
            margin-left: 30%;
            width: 45%;
        }
    }

    .round {
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
    }
    /*Right triangle, placed bottom left side slightly in*/
    .tri-right.border.btm-left-in:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        right: auto;
        top: auto;
        bottom: -40px;
        border: 20px solid;
        border-color: #666 transparent transparent #666;
    }

    .tri-right.btm-left-in:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 55%;
        right: auto;
        top: auto;
        bottom: -20px;
        border: 12px solid;
        border-color: $primary-color transparent transparent $primary-color;
    }
    /* talk bubble contents */
    .talktext {
        padding: 1em;
        text-align: left;
        line-height: 1.5em;
    }

    .talktext p {
        /* remove webkit p margins */
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
    }
}
