.about-page {
    .side-image--img {
        background: url(../assets/avatar.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        height: 775px;
    }
}
