/// <reference path="variables.scss" />
.no-scroll {
    overflow: hidden;
}

h1, h2, h3 {
    font-weight: $header-weight;
    line-height: 1.4;
}

a {
    .social-link &,
    .resume & {
        text-decoration: none;
    }
}

h1 {
    font-size: $h1-size-sm;
    margin-bottom: $h1-margin-sm;
    color: $h1-color;

    @media screen and (min-width: #{$md}){
        font-size: $h1-size;
        margin-bottom: $h1-margin;
    }
}

h2 {
    font-size: $h2-size-sm;
    margin-bottom: $h2-margin;
    color: $h2-color;

    @media screen and (min-width: #{$md}){
        font-size: $h2-size;
    }
}

.label {
    text-transform: uppercase;
    color: $label-color;
    font-weight: $label-weight;
    font-size: 16px;
}