/// <reference path="variables.scss" />
.no-scroll {
    overflow: hidden;
}

h1, h2, h3 {
    font-weight: $header-weight;
    color: $header-color;
}

a {
    .social-link &,
    .resume & {
        text-decoration: none;
    }
}

h1 {
    font-size: $h1-size;
    line-height: $h1-line-height;
    margin-bottom: $h1-margin;
}

h2 {
    font-size: $h2-size;
    line-height: $h2-line-height;
    margin-bottom: $h2-margin;
}

.label {
    text-transform: uppercase;
    color: $label-color;
    font-weight: $label-weight;
    font-size: 16px;
}

.logo {
    width: 300px;
}
