/// <reference path="variables.scss" />

.container {
    padding: 0;
}

h1 {
    font-size: $h1-size;
    font-weight: $h1-weight;
    margin-bottom: $h1-margin;
    color: $h1-color;
    line-height: $h1-line-height;
}
.label {
    text-transform: uppercase;
    color: $label-color;
    font-weight: $label-weight;
}
