.blog-page {
    .v-data-iterator {
        h2 {
            margin-bottom: 0;
        }

        &.layout .flex {
        
            @media screen and (min-width: #{$sm}){
                padding-top: 0;
            }
            
            &:first-child {
                padding-top: 0;
            }
        }
    }
}