.experience-page {
    .timeline-company {
        font-weight: 600;
        font-size: 20px;
    }

    .timeline-position,
    .timeline-duration {
        font-size: 20px;
    }

    .timeline-duration {
    }

    .timeline-company-overview {
        font-style: italic;
    }

    h1 {
        margin-bottom: 0;
    }
}
