.home-page {
    .page-section:nth-child(even) {
        background-color: lightgrey;
        -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
        clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
        padding: 65px 10px;
    }
}
