.landing-page {
    background: #fff;
    color: #222;
    pointer-events: none;

    .container {
        padding: 0;
    }

    .google-logo {
        height: 92px;
        background-image: url('../assets/logos/google-logo.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 272px 92px;
        margin-bottom: 25px;
    }

    .input-search {
        margin-bottom: 18px;
    }

    .v-text-field {
        &--box {
            & > .v-input__control > .v-input__slot {
                min-height: 44px;
                margin-top: 0;
            }

            & input {
                margin-top: 0;
            }
        }

        &--outline {
            & > .v-input__control > .v-input__slot {
                background: #fff !important;
                border-radius: 24px;
                border: 1px solid #dfe1e5;
                min-height: 44px;
            }

            &:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot:hover,
            &.v-input--is-focused > .v-input__control > .v-input__slot {
                box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
                border-color: rgba(223,225,229,0);
            }

            & input {
                padding-left: 8px;
                margin-top: 0;
            }

            &.v-input--is-focused {
                cursor: none;
            }
        }
    }

    .v-input input {
        max-height: none;
    }

    .theme--light.v-btn {
        color: #5F6368;

        &:not(.v-btn--icon):not(.v-btn--flat) {
            background-color: #f2f2f2;
        }
    }

    .v-input__slot {
        margin-bottom: 0
    }

    .v-btn {
        background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
        box-shadow: none;
        font-size: 14px;
        font-weight: 400;
        font-family: arial,sans-serif;
        border-radius: 4px;
        height: 36px;
        margin: 11px 4px;
        padding: 0 16px;
        min-width: 54px;
        outline: 0;
        text-transform: capitalize;

        &:not(.v-btn--depressed):not(.v-btn--flat) {
            box-shadow: none;
        }
    }

    //type writter aniumation

    .search-text {
        position: relative;
        top: -33%;
        left: 3%;
        border-right: 2px solid rgba(34,34,34,.75);
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%);
    }
    /* Animation */
    .anim-typewriter {
        animation: typewriter 4s steps(31) 1s 1 normal both, blinkTextCursor 500ms steps(31) infinite normal;
    }

    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 14.5em;
        }
    }

    @keyframes blinkTextCursor {
        from {
            border-right-color: rgba(34,34,34,.75);
        }

        to {
            border-right-color: transparent;
        }
    }
}
