.resume-page {
    background: white;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    width: 8.5in;

    @media print {
        margin: 0;
        box-shadow: none;
    }

    .resume-page-content {
        padding: 0.5in;
    }

    .resume-left-col {
        text-align: right;
        padding-right: 15px;
    }

    h1 {
        margin-bottom: 5px;
    }

    .label {
        margin-bottom: 5px;
    }

    .resume-title {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 5px;
    }

    .resume-contact {
        border-left: 1px solid #ccc;
        padding: 0 0 0 10px;
    }

    section {
        margin-bottom: 20px;
    }

    .resume-timeline-position,
    .resume-edu-degree {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.3;
    }

    .resume-highlighted {
        background-color: #e0e0e0;
        margin-bottom: 5px;
        border-radius: 2px;
    }
}
