.skill-page {

    .edu-item,
    .skills-item {
        margin-bottom: 15px;
    }

    .edu-school {
        line-height: 1;
        letter-spacing: .02em;
    }

    ul.skill-list {
        list-style-type: none;
    }
}
