/****************************************************************
*                         COLOR                                 *
*****************************************************************/
$primary-color: #1976d2;
$h1-color: $primary-color;

/****************************************************************
*                         FONT                                 *
*****************************************************************/

/*h1*/
$h1-size: 45px;
$h1-line-height: 48px;
$h1-weight: 700px;
$h1-margin: 25px;

/*label*/
$label-color: $primary-color;
$label-weight: 500;
