/****************************************************************
*                         COLOR                                 *
*****************************************************************/
$sm: 600px;
$md: 1024px;
$lg: 1440px;
$xl: 1920px;

/****************************************************************
*                         COLOR                                 *
*****************************************************************/
$primary-color: #1976d2;
$header-color: $primary-color;

/****************************************************************
*                         FONT                                 *
*****************************************************************/

/*header*/

$header-weight: 700px;

$h1-size: 45px;
$h1-line-height: 48px;
$h1-margin: 25px;

$h2-size: 24px;
$h2-line-height: 32px;
$h2-margin: 15px;

/*label*/
$label-color: $primary-color;
$label-weight: 500;
